{% extends "base.html" %}

{% block content %}
<div class="main-div">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-2">
            {% if "user_info" in session %}
            <h6 class="mb-3 px-0">Connected Clients: <span id="count" class=""></span></h6>
            <div id="client_list_div" class="">
                <div></div>
            </div>
            {% else %}
            <center>
                <p class="text-red">Ooopss.. Seems like you are logged out..</p>
                <a href="{{ url_for('login') }}"> Click here to login again </a>
            </center>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block page_js %}
{% endblock %}