{% include "header.html" %}
<div class="main-div" id="create_quote_div">
  {% if 'user_info' in session %}
    <div class="row ">
      <div class="col-md-3 offset-4">
        <h5 class="bold bg-warning text-dark text-center p-2 mt-4">
          Create New Quote
        </h5>
        <form class="m-2" id="create_quote_form">
          <!-- Quote by Company -->
          <div class="mb-2">
            <div class="form-group">
              <label for="company_id" class="bold mb-1">Company</label>
              <select
                class="form-control form-control-sm"
                name="company_id"
                required
              >
                {% for row in all_company_info %}
                  <option
                    value="{{ row['id'] }}"
                    {{ 'selected' if row['id']==1 else '' }}
                  >
                    {{ row['company_name'] }}
                  </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <!-- End Quote by company -->

          <!-- Quote name -->
          <div class="mb-2">
            <label for="quote_name" class="bold mb-1">Quote name</label>
            <div class="form-group bg-lightgray p-3 mb-2">
              <input
                type="file"
                name="eo_file"
                id="eo_file_input"
                data-user_id="{{ session['user_info']['user_id'] }}"
                onchange="uploadEoExcelFileToDb(this) "
                class="form-control form-control-sm "
              />

              <div class="mb-2">
                <small id="upload_msg" class="text-center text-danger">
                  <!-- to show file upload message -->
                </small>
              </div>
              {# quote_name #}
              <input
                type="text"
                class="form-control form-control-sm "
                name="quote_name"
                id="quote_name_inp"
                autocomplete="off"
                placeholder="Or type a quote name"
                required
                autofocus
              />
            </div>

            <div class="form-group mb-2">
              <input
                type="text"
                class="form-control form-control-sm"
                name="quoted_by"
                autocomplete="off"
                placeholder="Quoted By"
                value="{{ session['user_info']['full_name'] }}"
                readonly
                required
              />
            </div>
          </div>
          <!-- End Quote name -->

          <!-- Customer details -->
          <div class="mb-2">
            <label for="customer_name" class="bold mb-1">
              Customer details</label
            >
            {# customer_name #}
            <div class="form-group mb-2">
              <input
                type="text"
                class="form-control form-control-sm"
                name="customer_name"
                autocomplete="off"
                placeholder="Customer Name"
                required
              />
            </div>

            {#  customer_email #}
            <div class="form-group mb-2">
              <input
                type="email"
                class="form-control form-control-sm"
                name="customer_email"
                autocomplete="off"
                placeholder="Customer Email"
                required
              />
            </div>

            {# customer_phone_no #}
            <div class="form-group mb-2">
              <input
                type="text"
                class="form-control form-control-sm"
                name="customer_phone_no"
                autocomplete="off"
                placeholder="Customer Phone No"
                required
              />
            </div>

            {#  delivery_info#}
            <div class="form-group ">
              <input
                type="text"
                class="form-control form-control-sm"
                name="delivery_info"
                autocomplete="off"
                placeholder="Delivery address or Pickup"
                required
              />
            </div>
          </div>
          <!-- End Customer details -->

          <!-- Save as Template -->
          <div>
            <label for="is_template" class="bold mr-3">Save as template</label>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="is_template"
                id="is_template_yes"
                value="yes"
              />
              <label class="form-check-label" for="is_template_yes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="is_template"
                id="is_template_no"
                value="no"
                checked
              />
              <label class="form-check-label" for="is_template_no">No</label>
            </div>
          </div>
          <!-- End Save as Template -->

          <div class="row m-4">
            <div class="col-md-6">
              <button
                type="submit"
                class="btn btn-sm btn-warning  bold full-width"
                onclick="creatQuote(event)"
              >
                Create
              </button>
            </div>
            <div class="col-md-6">
              <a
                href="{{ url_for('index') }}"
                type="button"
                class="btn btn-sm btn-dark  bold full-width"
                >Cancel</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  {% else %}
    <!-- display the message below if the user is not logged in -->
    <center>
      <p class=" text-red">Ooopss.. Seems like you are logged out..</p>
      <a href="{{ url_for('login') }}"> Click here to login again </a>
    </center>
  {% endif %}
</div>

{% include "footer.html" %}
