{% include "header.html" %}
<div class="main-div">
    {% if 'user_info' in session %}
    <div class="row ">
        <div class="col-md-3 offset-4">
            <h5 class="bold bg-warning text-dark text-center p-2 mt-4">Provide Quote Details</h5>
            <form method="POST" action="{{url_for('create_quote')}}" class="m-2">

                <!-- Quote by Company -->
                <div class="mb-2">
                    <div class="form-group">
                        <label for="company_id" class="bold mb-1">Company</label>
                        <select class="form-control form-control-sm" name="company_id" required>
                            {% for row in all_company_info %}
                            {% if (new_quote_info and new_quote_info['company_id'] == row['id']) %}
                            <option value="{{ row['id'] }}" selected> {{ row['company_name'] }} </option>
                            {% else %}
                            {% if row["id"] == 1 %}
                            <option value="{{ row['id'] }}"> {{ row['company_name'] }} </option>
                            {% else %}
                            <option value="{{ row['id'] }}"> {{ row['company_name'] }} </option>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- End Quote by company -->

                <!-- Quote name -->
                <div class="mb-2">
                    <label for="quote_name" class="bold mb-1">Quote name</label>
                    <div class="form-group bg-lightgray p-3 mb-2">
                        <input type="file" name="eo_file" id="eo_file_input" data-user_id="{{session['user_info']['user_id']}}" onchange="uploadEoExcelFileToDb(this) " class="form-control form-control-sm ">

                        <div class="mb-2">
                            <small id="upload_msg" class="text-center text-danger">
                                <!-- to show file upload message -->
                            </small>
                        </div>

                        <input type="text" class="form-control form-control-sm " name="quote_name" id="quote_name_inp" autocomplete="off" placeholder="Or type a quote name" required autofocus>
                    </div>

                    <div class="form-group mb-2">
                        <input type="text" class="form-control form-control-sm" name="quoted_by" autocomplete="off" placeholder="Quoted By" value="{{session['user_info']['full_name']}}" readonly required>
                    </div>
                    <div class="form-group ">
                        <input type="text" class="form-control form-control-sm" name="date_quote_created" autocomplete="off" placeholder="Date" value="{{date_today}}" readonly required>
                    </div>
                </div>
                <!-- End Quote name -->

                <!-- Customer details -->
                <div class="mb-2">
                    <label for="customer_name" class="bold mb-1">Customer details</label>
                    <div class="form-group mb-2">
                        <input type="text" class="form-control form-control-sm" name="customer_name" autocomplete="off" value="{{ new_quote_info['customer_name'] if new_quote_info }}" placeholder="Name">
                    </div>
                    <div class="form-group mb-2">
                        <input type="text" class="form-control form-control-sm" name="customer_email" autocomplete="off" value="{{ new_quote_info['customer_email'] if new_quote_info }}" placeholder="Email">
                    </div>
                    <div class="form-group mb-2">
                        <input type="text" class="form-control form-control-sm" name="customer_phone_no" autocomplete="off" value="{{ new_quote_info['customer_phone_no']  if new_quote_info}}" placeholder="Phone No">
                    </div>
                    <div class="form-group ">
                        <input type="text" class="form-control form-control-sm" name="delivery_info" autocomplete="off" value="{{ new_quote_info['delivery_info'] if new_quote_info }}" placeholder="Delivery address or Pickup">
                    </div>
                </div>
                <!-- End Customer details -->

                <!-- Save as Template -->
                <div>
                    <label for="is_template" class="bold mr-3">Save as template</label>
                    {% if new_quote_info and new_quote_info['is_template'] == 'yes' %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="is_template" id="is_template_yes" value="yes" checked>
                        <label class="form-check-label" for="is_template_yes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="is_template" id="is_template_no" value="no">
                        <label class="form-check-label" for="is_template_no">No</label>
                    </div>
                    {% else %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="is_template" id="is_template_yes" value="yes">
                        <label class="form-check-label" for="is_template_yes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="is_template" id="is_template_no" value="no" checked>
                        <label class="form-check-label" for="is_template_no">No</label>
                    </div>
                    {% endif %}

                </div>
                <!-- End Save as Template -->


                <div class="row m-4">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-sm btn-warning  bold full-width">Create Quote</button>
                    </div>
                    <div class="col-md-6">
                        <a href="{{ url_for('index') }}" type="button" class="btn btn-sm btn-dark  bold full-width">Cancel</a>
                    </div>
                </div>
            </form>

            <!-- display flash messages -->
            <div>
                {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                <center>
                    <p class="text-red mb-0 font-italic">{{message}}</p>
                </center>
                {% endfor %}
                {% endwith %}
            </div>
            <!-- end display flash messges -->
        </div>
    </div>
    {% else %}
    <!-- display the message below if the user is not logged in -->
    <center>
        <p class=" text-red">Ooopss.. Seems like you are logged out..</p>
        <a href="{{url_for('login')}}"> Click here to login again </a>
    </center>

    {% endif %}
</div>

{% include "footer.html" %}