{% extends "base.html" %}

{% block content %}
<div class="main-div">
  {% if 'user_info' in session %}
  <div class="row ">
    <div class="col-md-4 offset-4">
      <h5 class="bold text-center bg-success text-white p-2 mt-4">
        Edit Quote
      </h5>

      {# Edit Form #}
      <form method="POST" action="{{ url_for('edit_quote', quote_id = (quote_info['quote_id'] if quote_info else new_quote_info['quote_id'] ) ) }}" class="m-2">
        {# Quoting Company name #}
        <div class="form-group row align-items-center mb-3">
          <label for="company_id" class="col-sm-3 col-form-label-sm bold p-0 m-0 text-sm-right">Company</label>
          <div class="col-sm-9 pl-sm-3">
            <select class="form-control form-control-sm"
              name="company_id"
              required>
              {% for row in all_company_info %}
              {% if (new_quote_info and new_quote_info['company_id'] == row['id']) or (quote_info and quote_info['company_id'] == row['id']) %}
              <option value="{{ row['id'] }}"
                selected>
                {{ row['company_name'] }}
              </option>
              {% else %}
              <option value="{{ row['id'] }}">
                {{ row['company_name'] }}
              </option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

        {# Quote name #}
        <div class="form-group row align-items-center mb-3">
          <label for="quote_name_inp" class="col-sm-3 col-form-label-sm bold p-0 m-0 text-sm-right">Quote name</label>
          <div class="col-sm-9 pl-sm-3">
            <input type="text"
              class="form-control form-control-sm"
              name="quote_name"
              id="quote_name_inp"
              autocomplete="off"
              value="{{ quote_info['quote_name'] if quote_info }}"
              required
              autofocus />
          </div>
        </div>

        {# Quoted By #}
        <div class="form-group row align-items-center mb-3">
          <label class="col-sm-3 col-form-label-sm bold p-0 m-0 text-sm-right">Quoted By</label>
          <div class="col-sm-9 pl-sm-3">
            <input type="text"
              class="form-control form-control-sm"
              name="quoted_by"
              autocomplete="off"
              value="{{ quote_info['quoted_by'] if quote_info else new_quote_info['quoted_by'] }}"
              readonly
              required />
          </div>
        </div>

        {# Date quote created #}
        <div class="form-group row align-items-center mb-3">
          <label class="col-sm-3 col-form-label-sm bold p-0 m-0 text-sm-right">Date Created</label>
          <div class="col-sm-9 pl-sm-3">
            <input type="text"
              class="form-control form-control-sm"
              name="date_quote_created"
              autocomplete="off"
              value="{{ quote_info['date_quote_created'] if quote_info else new_quote_info['date_quote_created'] }}"
              readonly
              required />
          </div>
        </div>

        {# Is Trade Client #}
        <div class="form-group row align-items-center mb-2">
          <label class="col-sm-3 col-form-label-sm bold p-0 m-0 text-sm-right">Trade client?</label>
          <div class="col-sm-9 pl-sm-3 d-flex align-items-center">
            {# Is Trade : Yes check #}
            <div class="form-check form-check-inline mb-0">
              <input class="form-check-input" type="radio"
                name="is_trade_client"
                id="is_trade_client_yes"
                value="yes"
                checked />
              <label class="form-check-label"
                for="is_trade_client_yes">Yes</label>
            </div>
            {# Is Trade : No check #}
            <div class="form-check form-check-inline mb-0">
              <input class="form-check-input"
                type="radio"
                name="is_trade_client"
                id="is_trade_client_no"
                value="no" />
              <label class="form-check-label" for="is_trade_client_no">No</label>
            </div>
          </div>
        </div>

        {# Customer company #}
        <div class="form-group row align-items-center mb-2">
          <label for="customer_company" class="col-sm-3 col-form-label-sm bold p-0 m-0 text-sm-right">Company</label>
          <div class="col-sm-9 pl-sm-3">
            <select class="form-control form-control-sm"
              id="customer_company"
              name="customer_company"
              required>
              <option></option>
              {% for row in all_clients %}
              <option value="{{ row['company'] }}">
                {{ row['company'] }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>

        {# Client Name #}
        {# <div class="form-group row align-items-center mb-3">
          <label class="col-sm-3 col-form-label-sm bold p-0 m-0 text-sm-right">Name</label>
          <div class="col-sm-9 pl-sm-3">
            <input type="text"
              class="form-control form-control-sm"
              name="customer_name"
              autocomplete="off"
              value="{{ quote_info['customer_name'] if quote_info else new_quote_info['customer_name'] }}" />
          </div>
        </div> #}

        <div class="form-group row align-items-center mb-3">
          <label class="col-sm-3 col-form-label-sm bold p-0 m-0 text-sm-right">Name</label>
          <div class="col-sm-9 pl-sm-3">
            <select class="form-control form-control-sm"
              id="customer_name_select"
              name="customer_name"
              required>
              <option></option>
              {# JS will fill data #}
            </select>
            <input type="text"
              class="form-control form-control-sm hide d-none"
              name="customer_name"
              id="customer_name_inp"
              autocomplete="off"
              disabled />
          </div>
        </div>

        {# Client Email #}
        <div class="form-group row align-items-center mb-3">
          <label class="col-sm-3 col-form-label-sm bold p-0 m-0 text-sm-right">Email</label>
          <div class="col-sm-9 pl-sm-3">
            <input type="text"
              class="form-control form-control-sm"
              name="customer_email"
              autocomplete="off"
              value="{{ quote_info['customer_email'] if quote_info else new_quote_info['customer_email'] }}" />
          </div>
        </div>

        {# Client Contact no #}
        <div class="form-group row align-items-center mb-3">
          <label class="col-sm-3 col-form-label-sm bold p-0 m-0 text-sm-right">Contact no</label>
          <div class="col-sm-9 pl-sm-3">
            <input type="text"
              class="form-control form-control-sm"
              name="customer_phone_no"
              autocomplete="off"
              value="{{ quote_info['customer_phone_no'] if quote_info else new_quote_info['customer_phone_no'] }}" />
          </div>
        </div>

        {# Client delivery info #}
        <div class="form-group row align-items-center mb-3">
          <label class="col-sm-3 col-form-label-sm bold p-0 m-0 text-sm-right">Delivery info</label>
          <div class="col-sm-9 pl-sm-3">
            <input type="text"
              class="form-control form-control-sm"
              name="delivery_info"
              autocomplete="off"
              value="{{ quote_info['delivery_info'] if quote_info else new_quote_info['delivery_info'] }}" />
          </div>
        </div>

        {# Save as template #}
        <div class="form-group row align-items-center mb-3">
          <label for="is_template"
            class="col-sm-3 col-form-label-sm bold p-0 m-0 text-sm-right">Save as template</label>
          <div class="col-sm-9 pl-sm-3">
            {% if (quote_info and quote_info['is_template'] == 'yes') or (new_quote_info and
            new_quote_info['is_template'] == 'yes') %}
            <div class="form-check form-check-inline">
              <input class="form-check-input"
                type="radio"
                name="is_template"
                id="is_template_yes"
                value="yes"
                checked />
              <label class="form-check-label"
                for="is_template_yes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input"
                type="radio"
                name="is_template"
                id="is_template_no"
                value="no" />
              <label class="form-check-label"
                for="is_template_no">No</label>
            </div>
            {% else %}
            <div class="form-check form-check-inline">
              <input class="form-check-input"
                type="radio"
                name="is_template"
                id="is_template_yes"
                value="yes" />
              <label class="form-check-label"
                for="is_template_yes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input"
                type="radio"
                name="is_template"
                id="is_template_no"
                value="no"
                checked />
              <label class="form-check-label"
                for="is_template_no">No</label>
            </div>
            {% endif %}
          </div>
        </div>

        {# Action buttons #}
        <div class="row mt-4">
          <div class="col-sm-3"></div>
          <div class="col-sm-9 pl-sm-3">
            <div class="row">
              <div class="col-6">
                <button type="submit"
                  class="btn btn-sm btn-success pl-5 pr-5 bold full-width">
                  Save
                </button>
              </div>
              <div class="col-6">
                <a href="{{ url_for('index') }}"
                  type="button"
                  class="btn btn-sm btn-secondary pl-5 pr-5 bold full-width">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </form>

      <!-- display flash messages -->
      <div>
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <center>
          <p class="text-red p-0 m-0 font-italic">{{ message }}</p>
        </center>
        {% endfor %}
        {% endwith %}
      </div>
      <!-- end display flash messges -->
    </div>
  </div>
  {% else %}
  <!-- display the message below if the user is not logged in -->
  <center>
    <p class=" text-red">Ooopss.. Seems like you are logged out..</p>
    <a href="{{ url_for('login') }}"> Click here to login again </a>
  </center>
  {% endif %}
</div>

{% endblock %}

{% block page_js %}
{% endblock %}