<!-- link to external jquery libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Link to JavaScript -->
<script src="{{ url_for('static', filename='myjs/GlobalVariables.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='myjs/add_quote_details.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='myjs/index.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='myjs/view_quote.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='myjs/create_quote.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='myjs/helper.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='myjs/API.js')}}" type="text/javascript"></script>

<!-- Modal Scripts -->
<script src="{{ url_for('static', filename='myjs/modal_reorder_sections.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='myjs/modal_pick_section_name.js')}}" type="text/javascript"></script>

<!-- bootstrap js libraries -->
<!-- <script  src="Scripts/jquery-2.1.1.min.js"></script> -->
<script src="{{ url_for('static', filename='vendor/bootstrap4/js/bootstrap.min.js')}}" type="text/javascript"></script>




</body>

</html>