{% include "header.html" %}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <h5 class="blue-text bold-text">Add New Issue</h5>
        <hr>
        <form method="POST">
            
            <!-- display program name -->
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group ">
                        <label for="program_name">Program Name</label>
                        <select  class="form-control form-control-sm"  name="program_name" required>
                            <option></option>
                            {% for row in all_programs %}
                                <option>{{ row['program_name'] }}</option>
                            {% endfor %}
                        </select>
                        <small><a href="{{url_for('add_new_program_name', return_url = 'add_issue')}}" class="red-text" >Click here to add new program name if it is not in the list.</a></small>
                    </div>
                </div>

            </div>
            <!-- end - display program name -->
            <div class="form-group">
                <label for="issue_name">What is the issue?</label>
                <textarea class="form-control form-control-sm" name="issue_name"  rows="2" required></textarea>
            </div>

            <div class="form-group">
                <label for="cause">What is the cause of the issue?</label>
                <textarea class="form-control form-control-sm" name="cause"  rows="2" required></textarea>
            </div>
            <div class="form-group">
                <label for="solution">Provide solution for the issue.</label>
                <textarea class="form-control form-control-sm" name="solution"  rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label for="example">Example</label>
                <textarea class="form-control form-control-sm" name="example"  rows="2"></textarea>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="added_by">Added by</label>
                        <input type="text" class="form-control form-control-sm" name="added_by" required>
                    </div>
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-sm padding-lr bold-text blue-bg white-text"> Add Issue </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('index' ) }}" class="btn btn-sm btn-dark bold-text padding-lr">Cancel</a>
            <br><br>
            <small>Adding a new issue will open a page where you can add images and vidoes if you have any.</small>
        </form>
    </div>
</div>

{% include "footer.html" %}