

        <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap4/js/bootstrap.min.js')}}" type="text/javascript"></script>

        <script src="{{ url_for('static', filename='JS/cp_GlobalVariables.js')}}"></script>
        <script src="{{ url_for('static', filename='JS/cp_Home.js')}}"></script>
        <script src="{{ url_for('static', filename='JS/cp_API.js')}}"></script>
        <script src="{{ url_for('static', filename='JS/cp_Helper.js')}}"></script>
        <script src="{{ url_for('static', filename='JS/cp_modal_upload_image.js')}}"></script>
        <script src="{{ url_for('static', filename='JS/cp_modal_image.js')}}"></script>
        <script src="{{ url_for('static', filename='JS/cp_modal_edit_product_parts.js')}}"></script>
        <script src="{{ url_for('static', filename='JS/cp_modal_edit_part_cncodes.js')}}"></script>
        <script src="{{ url_for('static', filename='JS/cp_modal_edit_cnccode_description.js')}}"></script>
        <script src="{{ url_for('static', filename='JS/cp_modal_edit_cnccode_parameters.js')}}"></script>
        <script src="{{ url_for('static', filename='JS/cp_modal_edit_cnccode_images.js')}}"></script>
        <script src="{{ url_for('static', filename='JS/cp_modal_edit_parameter_description.js')}}"></script>
        <script src="{{ url_for('static', filename='JS/cp_modal_edit_parameter_images.js')}}"></script>
        <script src="{{ url_for('static', filename='JS/cp_modal_edit_parameter_values.js')}}"></script>
        

    </body>

</html>