<!-- Modal: Edit Part CncCodes  -->


<div class="modal  prevent_text_selectecction " id="edit_cnccode_parameters_modal">
    <div class="modal_content w-35">

        <!-- Header -->
        <div class="row">
            <div class="col-sm-12 bg-info py-2 text-light text-center">
                <span class="bold"> Add or Remove Parameters from the selected CncCode</span>
                <!-- <span class="float-right pr-2 cursor-pointer hover-text-bold" onclick="closeModal('edit_product_parts_modal')" >&#x2715;</span> -->
            </div>
        </div>

        <!-- Body -->
        <div class="row bg-white  px-4">
            <div class="col-sm-12">

                <!-- Selected Part Info -->
                <div class="row small  py-1 my-2 bg-lightgray text-dark rounded ">
                    <div class="col-sm-12 text-center">

                        <div class=" d-inline-block mr-2">
                            <span>Selected CncCode: </span>
                            <span class="bold" id="selected_cnccode_name">
                                <!-- Data will be added from JS -->
                            </span>
                        </div>
                    </div>

                </div>

                <!-- Cnccode divs -->
                <div class="row  small">

                    <!-- column : Not selected items -->
                    <div class="col-sm-6">
                        <div class="row bg-light mr-1">
                            <!-- <span class="col-sm-12 bg-info text-dark rounded  py-1"></span> -->

                            <!-- column header -->
                            <div class="col-sm-12">
                                <div class="row bg-info rounded  py-1 ">
                                    <div class="col-sm-4 d-flex align-items-center">
                                        <span class="text-dark">Parameters</span>
                                    </div>
                                    <div class="col-sm-8 d-flex align-items-center px-0">
                                        <input  class=" ml-1 form-control form-control-sm   py-0  text-danger" type="search" id="search_items_input" name="search_items_input" placeholder="Search" style="font-size: smaller;" onblur="this.focus()" tabindex="0">
                                        <span class="mx-2 small hover-underline rounded text-light cursor-pointer" onclick="addNewParameterInDB()">+New</span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-12 py-2 " id="not_selected_items_div" style="overflow-x: hidden; overflow-y: auto; height: 60vh;">
                                <!-- Data will be added from JS -->
                            </div>
                        </div>
                    </div>

                    <!-- column : Seleted items -->
                    <div class="col-sm-6">
                        <div class="row bg-light ml-1">
                            <span class="col-sm-12 bg-info text-dark rounded  py-1">Selected parameters</span>
                            <div class="col-sm-12 py-2" id="selected_items_div" style="overflow-x: hidden; overflow-y: auto; height: 60vh;">
                                <!-- Data will be added from JS -->
                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <!-- Buttons : Save and close -->
            <div class="col-sm-12 border-top py-3">
                <div class="row">
                    <div class="col-sm-6 px-1  text-right">
                        <button class="btn btn-sm btn-info w-65 hide" id="save_changes_btn"  onclick="saveSelectedParameters()">Save changes</button>
                    </div>
                    <div class="col-sm-6 px-1">
                        <button class="btn btn-sm btn-secondary w-65 "    onclick="closeEditCnccodeParametersModal()">Close</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>