


<!-- Modal: Display Image  -->

<div id="image_modal" class="modal">
    <div class="modal_content" style="width: auto; max-width: 65%;">

        <!-- Header -->
        <div class="bg-dark py-2 text-light">
            <span class="my-auto bold pl-4" id="image_name_tag">
                <!-- Name added using JS -->
            </span>
            <span class="float-right pr-3 cursor-pointer h5" onclick="closeModal('image_modal')"> &#x2715; </span>
        </div>

        <!-- Body -->
        <div class="" id="image_div">
            <!-- Image added using JS -->
        </div>

    </div>
</div>