
<!-- Modal: Upload Image  -->

<div class="modal  prevent_text_selectecction" id="upload_image_modal">
    <div class="modal_content w-35 pt-5 mt-5">

        <!-- Header -->
        <div class="row ">
            <div class="col-sm-12 bg-dark py-2 text-light text-center">
                <span class="bold"> Upload Images</span>
                <span class="float-right pr-2 cursor-pointer hover-text-bold" onclick="closeModal('upload_image_modal')"> &#x2715;</span>
            </div>
        </div>

        <!-- Body -->
        <div class="row bg-white  px-5 pt-5">
            <div class="col-sm-12 text-center">
                <input type="file" class="form-control  form-control-sm mt-4" name="image_upload_input" id="image_upload_input">
                <button type="button" class="btn btn-sm btn-dark px-3 m-4 hide" id="save_uploaded_image_btn" onclick="saveUploadedImageInDB() "><small>Save Image</small></button>

                <div class="text-danger  small mb-3" id="file_upload_msg_div" style="overflow-wrap: break-word; min-height: 40px;">
                    <!-- Data will be added from JS -->
                </div>


            </div>
        </div>
    </div>
</div>