{% include "header.html" %}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <h5 class="bold-text">Edit Issue</h5>
        <hr>
        <form method="POST">
            <!-- display program name -->
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="program_name">Program Name</label>
                        <select class="form-control form-control-sm" name="program_name" required>
                            <option>{{ program_name }}</option>
                            <option></option>
                            {% for row in all_programs %}
                            <option>{{ row['program_name'] }}</option>
                            {% endfor %}
                        </select>
                        <small><a href="{{url_for('add_new_program_name' ,return_url = 'edit_issue', issue_id = single_issue['issue_id'] ,program_id = single_issue['program_id'])}}" class="blue-text">Click here to add new program name if it is not in the list.</a></small>
                    </div>
                </div>

            </div>
            <!-- end - display program name -->
            <div class="form-group">
                <label for="issue_name">Issue</label>
                <textarea class="form-control form-control-sm" name="issue_name" rows="2" required>{{ single_issue['issue_name'] }}</textarea>
            </div>

            <div class="form-group">
                <label for="cause">Cause</label>
                <textarea class="form-control form-control-sm" name="cause" rows="2" required>{{ single_issue['cause'] }}</textarea>
            </div>
            <div class="form-group">
                <label for="solution">Solution</label>
                <textarea class="form-control form-control-sm" name="solution" rows="4" required>{{ single_issue['solution'] }}</textarea>
            </div>
            <div class="form-group">
                <label for="example">Example</label>
                <textarea class="form-control form-control-sm" name="example" rows="2">{{ single_issue['example'] }}</textarea>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="added_by">Added by</label>
                        <input type="text" class="form-control form-control-sm" name="added_by" value="{{ single_issue['added_by'] }}" required>
                    </div>
                </div>
            </div>
            <!-- display links of files if they exist for the current issue -->
            {% if files_by_issue_id|length > 0 %}
            <h6 class="bold-text margin-b0">Images:</h6>
            <ul>
                {% for file in files_by_issue_id %}
                {% if file['file_type'] == "image" %}
                <li>
                    <a href="{{ url_for('show_file', file_id = file['file_id']) }}"  target="_blank" class="green-text"><i>{{ file['file_path'].split('/')[-1] }}</i></a>
                    &nbsp; &nbsp; &nbsp;
                    <a href="{{ url_for('delete_file', issue_id = single_issue['issue_id'], program_id = single_issue['program_id'], file_id = file['file_id']) }}" class="red-text">Delete</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <h6 class="bold-text margin-b0">Videos:</h6>
            <ul>
                {% for file in files_by_issue_id %}
                {% if file['file_type'] == "video" %}
                <li>
                    <a href="{{ url_for('show_file', file_id = file['file_id']) }}" target="_blank" class="green-text"><i>{{ file['file_path'].split('/')[-1] }}</i></a>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <a href="{{ url_for('delete_file', issue_id = single_issue['issue_id'], program_id = single_issue['program_id'], file_id = file['file_id']) }}" class="red-text">Delete</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            {% endif %}
            <!-- end display file links -->
            <hr>
            <br>
            <div class="row" id="btnDiv">
                <div class="col-md-5">
                    <div class="row" id="updateDiv">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-sm padding-lr bold-text blue-bg white-text"> Update Issue </button>
                            <a href="{{ url_for('index',issue_id = single_issue['issue_id'] ,program_id = single_issue['program_id']) }}" class="btn btn-sm btn-dark bold-text padding-lr">Cancel</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <small class="white-text">.</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="deleteDiv">
                    <a href="#" class="btn btn-sm btn-danger bold-text padding-lr" id="btnDelete">Delete</a>
                </div>
                <div class="col-md-4 hide" id="yesNoDiv">
                    <h6>Are you sure want to delete this issue?</h6>
                    <a href="{{ url_for('delete_issue',issue_id = single_issue['issue_id'] ,program_id = single_issue['program_id']) }}" class="btn btn-sm btn-danger white-text bold-text padding-lr">Yes</a>
                    <a href="#" id="btnNo" class="btn btn-sm btn-dark bold-text padding-lr">No</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% include "footer.html" %}