{% include "header.html" %}
<div class="body-container">

    <div class="row">
        <div class="col-md-2">
            {% if all_programs|length > 0 %}
            <h5 class="blue-text">Program Names</h5>
            <hr>
            <ul>
                {% for row in all_programs %}
                <li>
                    <h6>{{ row['program_name'] }}</h6>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="col-md-3 offset-1">

            <!-- display update form  -->
            <h5 class="blue-text bold-text">Edit Program Name</h5>
            <hr>
            <form method="POST" action="{{ url_for('edit_program_name') }}">
                <div class="form-group ">
                    <label for="program_name">
                        <h6>Select a program name to edit</h6>
                    </label>
                    <select class="form-control form-control-sm" name="program_name" required>
                        <option></option>
                        {% for row in all_programs %}
                        <option>{{ row['program_name'] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="new_program_name">
                        <h6>Type in the new program name.</h6>
                    </label>
                    <input type="text" class="form-control form-control-sm" name="new_program_name" required>
                </div>
                <button type="submit" class="btn btn-sm padding-lr bold-text blue-bg white-text"> Update </button>
                <a href="{{ url_for('index') }}" class="btn btn-sm btn-dark bold-text padding-lr">Cancel</a>

            </form>
            <!-- end - display form -->
        </div>

        <div class="col-md-5 offset-1">
            <!-- display delete form  -->
            <h5 class="red-text bold-text">Delete Program Name</h5>
            <hr>
            <form method="POST" action="{{ url_for('get_all_issues_using_prog_id') }}">
                <div class="form-group ">
                    <label><h6>Select a program name to delete</h6></label>
                    {% if show_yesNo_div == True %}
                        <input type="text" class="form-control form-control-sm" name="program_name" value="{{program_name}}" disabled>
                    {% else %}
                        <select class="form-control form-control-sm" name="program_name" required>
                            <option></option>
                            {% for row in all_programs %}
                            <option>{{ row['program_name'] }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div>
                    {% if show_yesNo_div != True %}
                    <div>
                        <button type="submit" class="btn btn-sm padding-lr bold-text blue-bg white-text" id="btnDelete"> Delete </button>
                        <a href="{{ url_for('index') }}" class="btn btn-sm btn-dark bold-text padding-lr">Cancel</a>
                    </div>
                    {% endif %}
                    
                    {% if show_yesNo_div == True %}
                    <p class="red-text margin-b5">Are you sure you want to delete the selected program name?</p>
                    <div>
                        <a href="{{ url_for('delete_issues_using_prog_id', program_name = program_name) }}" class="btn btn-sm btn-danger white-text bold-text padding-lr">Yes</a>
                        <a href="{{url_for('edit_program_name')}}" class="btn btn-sm btn-dark bold-text padding-lr">No</a>
                    </div>
                    {% endif %}

                    {% if issues_by_prog_id|length > 0 %}
                    <div>
                        <br>
                        <h6>Deleting the selected program will also delete the {{ issues_by_prog_id|length }} issue/issues below:</h6>
                        {% for item in issues_by_prog_id %}
                            <ul>
                                <li class="margin-b5"><p >{{ item['issue_name'] }}</p></li>
                            </ul>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                </div>

            </form>
            <!-- end - display form -->
        </div>



    </div>




</div>
</div>


{% include "footer.html" %}