{% include "header.html" %}
<div class="body-container">
    <div class="row">

        <!-- Display  program names -->
        <div class="col-md-2 ">
            <h5 class="blue-text bold-text">Program Names</h5>
            <hr>
            {% if all_programs|length > 0 %}
                <ul>
                    {% for row in all_programs %}
                    {% if row['program_id'] == program_id %}
                    <li>
                        <a href="{{ url_for('index',program_id = row['program_id']) }}">
                            <h5 class="bold-red-text">{{ row['program_name'] }}</h5>
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ url_for('index',program_id = row['program_id']) }}">
                            <h6>{{ row['program_name'] }}</h6>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% else %}
                <p class="red-text">There is no program name in the list.</p>
            {% endif %}
        </div>
        <!-- End - display program names -->

        <!-- Display issue list -->
        <div class="col-md-5 ">
            {% if program_id != None %}
                <h5 class="blue-text bold-text">{{program_name}} Issues</h5>
                <hr>
                {% if issues_by_prog_id|length >0 %}
                    <ul>
                        {% for row in issues_by_prog_id %}
                            {% if row['issue_id'] == issue_id %}
                                <li>
                                    <a href="{{ url_for('index',issue_id = row['issue_id'] ,program_id = row['program_id']) }}">
                                    <h6 class="bold-red-text">{{ row['issue_name'] }}</h6>
                                    </a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="{{ url_for('index',issue_id = row['issue_id'] ,program_id = row['program_id']) }}">
                                        <p class="margin-b5">{{ row['issue_name'] }}</p>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="blue-text">There is no issue added for {{program_name}}</p>
                {% endif %}
            {% elif program_id == None and issues_by_prog_id|length < 1 %}
                <h5 class="blue-text bold-text">Issues</h5>
                <hr>
                <p class="blue-text">Select a program to view the issues for it.</p>
            {% endif %}
        </div>
        <!-- End - display issue list -->

        <!-- Display solution -->
        <div class="col-md-5 mb-5">
            {% if issue_id != None %}
                <h5 class="blue-text bold-text">Solution</h5>
                <hr>
                {% for row in issues_by_prog_id %}
                    {% if row['issue_id'] == issue_id %}
                        <h6 class="bold-text margin-b0">Issue:</h6>
                        <p>{{ row['issue_name'] }}</p>

                        <h6 class="bold-text margin-b0">Cause:</h6>
                        <p>{{ row['cause'] }}</p>

                        <h6 class="bold-text margin-b0">Solution:</h6>
                        <textarea class="form-control form-control-sm mb-2 " name="solution" rows="20" readonly>{{ row['solution'] }}</textarea>

                        <!-- display links of files if they exist for the current issue -->
                        {% if files_by_issue_id|length > 0 %}
                            <h6 class="bold-text margin-b0">Images:</h6>
                            <ul>
                            {% for file in files_by_issue_id %}
                                {% if file['file_type'] == "image" %}
                                    <li><a href="{{ url_for('show_file', file_id = file['file_id']) }}" target="_blank" class="green-text"><i>Click here to view: {{ file['file_path'].split('/')[-1] }}</i></a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>

                            <h6 class="bold-text margin-b0">Videos:</h6>
                            <ul>
                            {% for file in files_by_issue_id %}
                                {% if file['file_type'] == "video" %}
                                    <li ><a href="{{ url_for('show_file', file_id = file['file_id']) }}" target="_blank" class="green-text"><i>Click here to play video: {{ file['file_path'].split('/')[-1] }}</i></a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                            
                        {% endif %}
                        <!-- end display file links -->

                        <h6 class="bold-text margin-b0">Added by:</h6>
                        <p>{{ row['added_by'] }}</p>
                    {% endif %}
                {% endfor %}


                <hr>
                <a href="{{ url_for('edit_issue',issue_id = issue_id, program_id = program_id ) }}" class="btn  padding-lr bold-text btn-primary">Edit</a>
                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                <a href="{{ url_for('upload_file',issue_id = issue_id ) }}" class="btn  padding-lr bold-text btn-success ">Add Images or Videos</a>
            {% elif  issues_by_prog_id|length > 0 %}
                <h5 class="blue-text bold-text">Solution</h5>
                <hr>
                <p class="blue-text">Select an issue to Edit or View the solution.</p>
            {% endif %}
        </div>
        <!-- End - display solution -->

    </div>
</div>
{% include "footer.html" %}